@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

* {
    font-family: "Golos Text";
    font-size: 16px;
    color: #222222;
}

button {
    border: 0;
    background-color: white;
    border-radius: 10px;
}
.Like button{
    color: red;
    font-size: 30px;
    background-color: rgba(34, 34, 34, 0.001);
}

.CountLike {
    display: inline-block;
    position: relative;
    bottom: 6px;
    left: 10px;
}

.Like {
    background-color: rgba(34, 34, 34, 0.05);
    width: 100px;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.headpost {
    width: 500px;
    height: 52px;
}
.lefthead {
    display: inline-block;
}
.headname {
    font-weight: 500;
    display: inline-block;
    position: relative;
    left: 5px;
    bottom: 17px;
}

.righthead {
    display: inline-block;
    margin-left: 295px;
}

.post-description p {
    font-size: 15px;
    font-weight: 400;
}

.post-description a{
    font-size: 15px;
    text-decoration: none;
    color: rgba(128, 128, 128, 1);
    font-weight: 400;
}

.pubtime {
    color: rgba(34, 34, 34, 0.5);
}